body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.testimonial-section {
  background-color: #f5f5f5;
  padding: 40px 50px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.testimonial {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 25px;
  margin-bottom: 25px;
}

.testimonial p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.author {
  text-align: right;
  font-style: italic;
  margin-top: 10px;
}
